.controls {
  display: inline-block;
  width: 61.044%;
  font-size: 0;
  text-align: center;

  &__title {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 49.633%;
    font-size: 30px;
    line-height: 55px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(54, 42, 79, .8);
  }

  &__icon {
    position: relative;
    display: inline-block;
    height: 55px;
    margin-bottom: -21px;
    background-position: center center;
    background-repeat: no-repeat;

    &:hover::before {
      content: attr(title);
      position: absolute;
      left: -29px;
      top: -31px;
      display: block;
      width: 111px;
      height: 29px;
      border: 1px solid $red;
      border-radius: 5px;
      background-color: #fff;
      color: #434343;
    }

    &:hover::after {
      content: '';
      position: absolute;
      left: 50%;
      top: -11px;
      display: block;
      width: 19px;
      height: 19px;
      margin-left: -9.5px;
      border-left: 2px solid $red;
      border-bottom: 2px solid $red;
      background-color: #fff;
      transform: rotate(-45deg);
    }

    &_gift {
      width: 12.469%;  
      background-color: #00a1be;
      background-image: url(img/gift.png);
    }

    &_cart {
      width: 12.958%;
      background-color: $red;
      background-image: url(img/cart.png);
    }
  }

  &__price {
    display: inline-block;
    width: 24.94%;
    padding-top: 2.689%;
    padding-bottom: 4.156%;
    font-size: 24px;
    color: #fff;
    background-color: #323232;
  }

  &__dollar {
    font-size: 16px;
  }

  &__cents {
    margin-left: -5px;
  }
}